body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}
h1 {
  margin: auto;
  width: 250px;
  background-color: rgb(37, 207, 207);
  text-align: center;
}
h2 {
  margin: auto;
  width: 370px;
  background-color: rgb(37, 207, 207);
  text-align: center;
}
#welcome-message {
  margin: auto;
  width: 625px;
}

#welcome-message p {
  line-height: 1.5;
  text-align: center;
}
#line {
  margin: auto;
  width: 650px;
}
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3 {
  margin: auto;
  text-align: center;
}
h2 {
  background-color: rgb(37, 207, 207);
}
#team-founder,
#team-VP {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#team-Development-team,
#team-sales-team {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
